<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="banner">
        <img th:src="@{/images/magalu.png}" alt="Logo Magazine Luiza" class="logo">
        <h1>Lista de Produtos Magazine</h1>
    </div>
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Preço</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.codigo}"></td>
                    <td th:text="${produto.nome}"></td>
                    <td th:text="${produto.marca}"></td>
                    <td th:text="${produto.preco}"></td>
                    <td>
                        <form th:action="@{/lista-desejos/adicionar/{codigo}(codigo=${produto.codigo})}" method="post">
                            <button class="btn btn-primary" type="submit">Adicionar à Lista de Desejos</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mb-3">
            <a th:href="@{/lista-desejos/meusdesejos}" class="btn btn-primary">Ver Lista de Desejos</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
