<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Desejos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>(Wishlist)Minha Lista de Desejos</h1>
            <!-- Formulário de busca -->
    
            <button class="btn btn-back" onclick="window.history.back()">Voltar</button>
            <form class="mb-4">
                <div class="form-group">
                    <input type="text" id="search" class="form-control" placeholder="Buscar por nome do produto" />
                </div> 
            </form>
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${listad}">
                    <td th:text="${produto.codigo}"></td>
                    <td th:text="${produto.nome}"></td>
                    <td th:text="${produto.marca}"></td>
                    <td class="price" th:text="${produto.preco}"></td>
                    <td>
                        <form th:action="@{/lista-desejos/remover/{codigo}(codigo=${produto.codigo})}" method="post">
                            <button class="btn btn-danger" type="submit">X</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><strong>Total:</strong></td>
                    <td id="total-price">R$ 0,00</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

         <!-- Formulário para confirmação da lista e escolha do método de pagamento -->
         <form id="payment-form" action="/confirmacao" method="get">
            <div class="form-group">
                <label>Selecione o método de pagamento:</label><br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="credit-card" value="Cartao Credito" checked>
                    <label class="form-check-label" for="credit-card">
                        Cartão de Crédito
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="paypal" value="Debito">
                    <label class="form-check-label" for="paypal">
                        Debito
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="bank-transfer" value="pix">
                    <label class="form-check-label" for="bank-transfer">
                        PIX
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="bank-transfer" value="boleto">
                    <label class="form-check-label" for="bank-transfer">
                        Boleto
                    </label>
                </div>
            </div>
            <a th:href="@{/auth/carrinho}" class="btn btn-primary" onclick="getPaymentMethod()">Confirmar pedido</a>
        </form>
    </div>
    </div>

    <script>
        function getPaymentMethod() {
            const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
            alert('Método de Pagamento Selecionado: ' + paymentMethod);
            this.action = `/confirmacao?paymentMethod=${encodeURIComponent(paymentMethod)}`;
        }
    </script>
    <!-- Incluindo o script JavaScript -->
    <script src="/js/search.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Função para calcular o total
        function calculateTotal() {
            let total = 0;
            document.querySelectorAll('.price').forEach(function(priceElement) {
                let priceText = priceElement.textContent.trim().replace('R$', '').replace(',', '.');
                let priceValue = parseFloat(priceText);
                if (!isNaN(priceValue)) {
                    total += priceValue;
                }
            });
            document.getElementById('total-price').textContent = 'R$ ' + total.toFixed(2).replace('.', ',');
        }

        // Calcula o total quando a página carrega
        document.addEventListener('DOMContentLoaded', calculateTotal);
    </script>
</body>
</html>
